{% extends 'wrapper.html' %}

{% load staticfiles %}
{% load i18n %}
{% load custom_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as RTL %}

<title>Jochre Document contents</title>

{% block head_title %}{% trans 'Jochre Document Contents' %}{% endblock %}

{% block content %}
  <script>
    $(window).on('hashchange', function(e) {
      var hash = window.location.hash.slice(1),
          $el = $('a[name="' + hash + '"]');

      if ($el.length) {
        $("html, body").scrollTop($el.offset().top - 100);
      }
    });
  </script>

  <div class="container w-minor py-5 flex-grow-1 {% if settings.FIELDS_LTR %}ltr{% else %}rtl{% endif %}">
    <div class="row">
      <div class="col-12">
        <div class="m-4">
          <h1>{{ doc.title }}</h1>
          <h2>{{ doc.author }}</h2>
          {% autoescape off %}{{ contents }}{% endautoescape %}
        </div>
      </div>
    </div>
  </div>

  {% include "search/preferences-modal.html" %}
{% endblock %}
