<link type="text/css" rel="stylesheet" href="https://www.yiddishbookcenter.org/sites/default/files/css/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://www.yiddishbookcenter.org/sites/default/files/css/css_9PPr3VH1_6u5XaxqqqBW_eiLD1HFlbAcsE21CrEd_ng.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://www.yiddishbookcenter.org/sites/default/files/css/css_jENQOQqZCRFGZK__DTefxYiXR2RUf03k1ugj3_Vg7vk.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://www.yiddishbookcenter.org/sites/default/files/css/css_Bj7ieeA3qxFv8KpF2Jl8J7GE5gQFsACO75-G0-2KRFA.css" media="screen" />
<link type="text/css" rel="stylesheet" href="https://www.yiddishbookcenter.org/sites/default/files/css/css_47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU.css" media="print" />

<div class="header-spacer"></div>

<header id="site-header" class="site-header">
  <nav id="slide-out" class="navigation navigation__list">
    <div class="site-header__logo">
      <a href="https://www.yiddishbookcenter.org/">
        <img src="https://www.yiddishbookcenter.org/sites/all/themes/ybc/images/YBC-TaglineGoldGoat.png" alt="Yiddish Book Center home" />
      </a>
    </div>
      <div class="navigation__list--primary">
        <ul>
          <li class="has-children navigation__list-item"><a href="https://www.yiddishbookcenter.org/collections"><span class="navigation__list-item__border">Digital Library & Collections</span></a></li>
          <li class="has-children navigation__list-item"><a href="https://www.yiddishbookcenter.org/language-literature-culture"><span class="navigation__list-item__border">Language, Literature & Culture</span></a></li>
          <li class="has-children navigation__list-item"><a href="https://www.yiddishbookcenter.org/educational-programs"><span class="navigation__list-item__border">Educational Programs</span></a></li>
          <li class="has-children navigation__list-item"><a href="https://www.yiddishbookcenter.org/about"><span class="navigation__list-item__border">About</span></a></li>
          <li class="has-children navigation__list-item"><a href="https://www.yiddishbookcenter.org/visit" title="Come to the Yiddish Book Center and enter a lebedike velt—a lively world of Jewish culture. You’ll find a million Yiddish books, permanent and visiting exhibits, an English-language bookstore, and a year-round schedule of educational programs, concerts, lectures, films, and special events, including Yidstock: The Festival of New Yiddish Music."><span class="navigation__list-item__border">Visit, Shop, Calendar</span></a></li>
          <li class="has-children navigation__list-item"><a href="https://www.yiddishbookcenter.org/join-support"><span class="navigation__list-item__border">Join & Support</span></a></li>
      </ul>
    </div>
    <div class="navigation__right">
              <div class="navigation__list-donate">
          <a href="http://support.yiddishbookcenter.org/site/Donation2?df_id=3282&amp;mfc_pref=T&amp;3282.donation=form1&s_backlink=https%3A//www.yiddishbookcenter.org/" class="navigation__donate-button">Donate</a>
        </div>
      
      <div class="navigation__list--search">
        <div id="search" class="navigation__list-item navigation__list-item--search">
          <!-- Font Awesome used here -->
          <button class="navigation__search-button" aria-label="Toggle Search">
            <i class="navigation__search-icon fa fa-search" title="Search" ></i>
          </button>
        </div>
      </div>
      <div class="navigation__button">
        <button class="navigation__button-lines cross" aria-label="Toggle Navigation">
          <span class="navigation__button-lines--inner"></span>
        </button>
      </div>
    </div>
  </nav>
</header>