# Jochre .gitignore
*/.classpath
*/.project
*/.pydevproject
*/.settings/
*/bin/
*/build/
*/corpusTest/
*/logs/
*.pyc
dist/
jochre_core/webapps/
jochre_web/webapp/
jochre_search/webapp/
jochre_occitan/webapp/
jochre_yiddish/webapp/
jochre_search_django/jochre_search_django/settings_local.py
jochre_search_django/db.sqlite3
jochre_search_django/static/
/webapp/
logs/
ant/conf.xml
