# Jochre .gitignore
*/.classpath
*/.project
*/.settings/
*/bin/
*/build/
*/corpusTest/
*/logs/
dist/
jochre_web/webapp/
jochre_search/webapp/
jochre_occitan/webapp/
jochre_yiddish/webapp/
logs/
ant/conf.xml
