<?xml version="1.0" encoding="UTF-8"?>
<web-app id="jochre_search" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>jochre_search</display-name>
	<listener>
		<listener-class>com.joliciel.jochre.search.web.Log4jListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.joliciel.jochre.search.web.JochreSetupListener</listener-class>
	</listener>
	<filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.joliciel.jochre.search.web.utils.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<servlet>
		<description>Jochre Search Web Service</description>
		<servlet-name>search</servlet-name>
		<servlet-class>com.joliciel.jochre.search.web.JochreSearchServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>search.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
</web-app>
