BODY { background-color: #ffffff; font-family: Verdana, Helvetica, Arial; }
.title { font-family: Verdana, Helvetica, Arial; font-size: 18px; vertical-align: top; }
.titleRtl { font-size: 24px; vertical-align: top;  }
.author { font-family: Verdana, Helvetica, Arial; font-size: 12px; vertical-align: top; }
.authorRtl { font-size: 18px; vertical-align: top;  }
A { text-decoration: underline; }
A:hover { text-decoration: underline; color: #ed490a; }
.rtl {
	font-family: "Times New Roman", Times, serif;
	text-align: right;
	direction: rtl;
}
INPUT[type="text"].rtl { font-size: 16px; }
H1.rtl { font-size: 24px; }
.snippet { font-family: "Times New Roman", Times, serif; text-align: left; vertical-align: top; direction: ltr; }
.snippetRtl { font-size: 16px; }
.imageSnippet {}
.image { border:1px solid #021a40; width: 100%; }
.black-separator { background-color: black; height: 5px; }
.alert-auto {display:inline-block;} 
.highlight {font-weight: 900;}

.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}