{% extends "wrapper.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container w-minor py-5 flex-grow-1">
  <div class="row">
    <div class="col-12">
      <h1>{% trans "Sign In" %}</h1>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
        <p>
          {# Translators: Login page message #}
          {% blocktrans trimmed with site.name as site_name  %}
            Please sign in with one of your existing third party accounts.
            Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:
          {% endblocktrans %}
        </p>

        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>

          {# Translators: Conjunction between two sections of the login form #}
          <div class="login-or">{% trans 'or' %}</div>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}
      {% else %}
        <p>
          {% blocktrans trimmed %}
            If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.
          {% endblocktrans %}
        </p>
      {% endif %}

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        {{ form.as_p }}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        {# Translators: Login form password reset button #}
        <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a>

        {# Translators: Login form password sign in button #}
        <button class="btn btn-primary" type="submit">{% trans 'Sign In' %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
