{% extends "wrapper.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container w-minor py-5 flex-grow-1">
  <div class="row">
    <div class="col-12">
      <h1>{% trans "Sign Up" %}</h1>

      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}

        {% for field in form %}
          <div class="form-group">

            {{ field.errors }}

            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}

            {{ field.label_tag }}
            {{ field }}
          </div>

        {% endfor %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
